@using PhotoGalery.DTOs
@{
    var user = ViewBag.User as User;
}
<h1>Hello @user.FullName!</h1>

<p>
    There was a password reset request, to change your password open the link below.<br/>
    <a href="@Request.Url.Authority/reset_password/@ViewBag.Token">Change password</a>    
</p>

<p>
    Or enter code in the field that is open on site:<br/>
    Validation code: <strong>@ViewBag.Token</strong>
</p>

<p>
    Thanks,<br />
    Amplify Team.
</p>
