@using PhotoGalery.DTOs
@{
    var user = ViewBag.User as User;
}
<h1>Hello @user.FullName!</h1>

<h2>Welcome to Amplify Video.</h2>
<p>    
    To get started login to site and create some pods.
</p>

<p>
    Thanks,<br />
    Amplify Team.
</p>
